.Container{
    width: 100%;
    height: 100%;
    background-color: black!important;
}

.Space{
    width: 100%;
    height: 170px;
}

.title h1{
    color: #fff;
    font-size: 60px;
}

.Contain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto; 
    max-width: 1600px;
    margin: 0 auto;
    padding: 45px 70px 50px 70px;   
}

.boxContain{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactBoxOne{
    display: flex;
    flex: 1.5 ;
    flex-basis: 300px;
    max-width: 450px;
}

.contactBoxTwo, .contactBoxThree{
    flex: 1 ;
    max-width: 270px;
    flex-basis: 250px;
}

@media only screen and (max-width: 570px) {
    .contactBoxOne{
       max-width: 100%;
    }

    .contactBoxTwo, .contactBoxThree{
       max-width: 100%;
    }
    .boxContain{
        justify-content: center;
    }
    .Contain{
        padding: 20px;   
    }
  }